/* @media screen and (min-width: 950px){ */

.myModal{

    display: none;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(20, 20, 20, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;

}

.modal-close-btn{

color: white;
font-size: 25px;
cursor: pointer;
}

.moadl-content{

width: 30%;
margin: 15% auto;
padding: 20px;
background-color: lightgrey;
border-radius: 10px;
position: relative;
height: 40%;

}

.modal-btn{

    background-color: blue;
    width: 160px;
    height: 60px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 200;
    margin: 0 20%;
    position: absolute;
    bottom: 20px;
    left: 70px;

}
.modal-image{

    width: 200px;
    margin: 5% 26.5%;

}

.moadl-number{

width: 300px;
height: 40px;
margin: 5% 13.5%;

}


@media screen and (max-width: 940px){

.myModal{
    
display: none;
position: fixed;
left: 0;
top: 0;
overflow: auto;
background-color: rgba(20, 20, 20, 0.5);
width: 100%;
height: 100%;
z-index: 1;

}
    
.moadl-content{
    
width: 60% ;
margin: 15% auto ;
padding: 20px ;
background-color: lightgrey;
border-radius: 10px ;
position: relative ;
height: 75% ;
    
}
    
.modal-btn{
    
background-color: blue;
width: 200px;
height: 60px;
color: white;
border-radius: 10px;
font-size: 16px;
font-weight: 200;
/* margin: 0 20%; */
position: absolute;
bottom: 40px;
left: 170px;

}
    


.modal-image{
    
width: 200px;
 margin: 5% 26.5%;
    
}
    
.moadl-number{
    
/* width: 300px;
height: 55px; */
/* margin: 5% 13.5%; */
border-radius: 10px;
padding-left: 10px;
background-color: white;
border: unset;
position: absolute;
/* bottom: 120px;
left: 110px; */
    
}
    
}
    
@media screen and (max-width: 820px){
    
.moadl-content{
    
height: 40% !important;
width: 49% !important;
    
}
    
.moadl-content hr{
    
display: none !important;
        
}
    
.modal-image{
    
left: 103px !important;
position: absolute;
top: 40px !important;
margin: 0;
    
}
    
.moadl-number{
    
width: 300px !important;
left: 55px !important;
bottom: 148px !important;
/* top: 10px; */
position: absolute;
margin: 0;
height: 60px !important;
    
}
    
    
.modal-btn{
    
width: 230px !important;
left: 95px !important;
margin: 0;
position: absolute;
top: 245px !important;
    
}
    
}


@media screen and (max-width: 470px){

.modal-image{
        
position: absolute !important;
top: 66px !important;
left: 100px !important
        
}
        
.moadl-number{
        
left: 45px  !important;
bottom: 10px;
top: 170px;
width: 300px !important;
height: 40px;
        
}
        
.modal-btn{
        
/* bottom: 0px !important; */
left: 70px !important;
position: absolute !important;
top: 270px !important;
width: 270px !important;
        
}
        
.moadl-content {
        
height: 45% !important;
width: 79% !important;
        
}
        
}

@media screen and (max-width: 380px){

.modal-image{
    
position: absolute !important;
top: 56px !important;
left: 80px !important;
        
}
        
.moadl-number{
    
left: 45px !important;
/* bottom: 0px !important; */
top: 150px !important;
width: 260px !important;
height: 60px !important;
/* height: 0px; */
        
}
        
.modal-btn{
    
/* bottom: 0px !important; */
left: 60px !important;
position: absolute !important;
top: 250px !important;
width: 240px !important;
    
}
     
.moadl-content {
        
height: 45% !important;
width: 79% !important;
        
}
        
}
    
    
@media screen and (max-width: 320px){
    
.modal-btn {
    
/* bottom: 0px !important; */
left: 70px !important;
position: absolute !important;
top: 230px !important;
width: 200px !important;
    
}
    
    
    
.modal-image {
    
position: absolute !important;
top: 36px !important;
left: 60px !important;
    
}
    
.moadl-number {
    
left: 45px !important;
/* bottom: 0px !important; */
top: 130px !important;
width: 230px !important;
height: 60px !important;
    
}
    
}
